.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        ぷりぷりプリズナー
      %ul.main-header__left-box__member-list
        member :
        %li.main-header__left-box__member-list__member 無免ライダー
        %li.main-header__left-box__member-list__member ペディグリーチャム
    =link_to '/groups/1/edit' do
      .main-header__edit-btn Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker ネセサリーやのにナササリー
        %p.message__upper-info__date 4056/08/28(Mon)23:59:58
      %p.message__text 力こそパワー!!!
    .message
      .message__upper-info
        %p.message__upper-info__talker ネセサリーやのにナササリー
        %p.message__upper-info__date 4056/08/28(Mon)22:59:58
      %p.message__text 関節のパニック
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
